<script type="text/javascript" src="plugins/jquery/jquery-1.11.3.min.js"></script>   
    <script type="text/javascript" src="plugins/jquery/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="js/main.js"></script>
<meta name="viewport" content="width=device-width, user-scalable=no">
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=993907294065369";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

<script src = "lib/angular/angular.js"></script>
<script src = "lib/angular-route/angular-route.js"></script>
<script src = "lib/angular-resource/angular-resource.js"></script>
<script src = "app.js"></script>

<script type="text/javascript">
       
    window.user = <%- user || 'null' %>;
 
  </script>
  
 